#logout-button{
    position:fixed;
    top:30px;
    left:20px;
    z-index: 100;
    width:150px;
    height:40px;
    border:none;
    border-radius:20px;
    background-color:rgb(201, 0, 0);
    color:white;
    font-size: 20px;
    transition: 0.5s;
}

#logout-button:hover{
    background-color:rgb(216, 0, 0);
    font-size: 21px;
    transition: 0.5s;
}